bokeh==2.4.3
certifi==2022.5.18.1
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
dynetx==0.3.1
fonttools==4.33.3
future==0.18.2
igraph==0.9.10
Jinja2==3.1.2
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
ndlib==5.1.1
netdispatch==0.1.0
networkx==2.8.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pip==21.2.4
pyparsing==3.0.9
python-dateutil==2.8.2
python-igraph==0.9.10
pytz==2022.1
PyYAML==6.0
scipy==1.8.1
setuptools==61.2.0
six==1.16.0
texttable==1.6.4
tornado==6.1
tqdm==4.64.0
typing_extensions==4.2.0
wheel==0.37.1
wincertstore==0.2
